{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" >


    {% block title %}<title>Привет мир!</title> {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar sticky-top navbar-dark bg-dark ">
      <div class="container justify-content-start text-align-center">
        <a href="/" class="nav-brand text-danger">
          MangaSite
        </a>
        <a href="{% url 'manga-list' %}" class="nav-item nav-link" role="button">Манга</a>
      </div>
    </nav>
    {% endblock %}
    {% block content %}
        <h1>Привет мир!</h1>
    {% endblock %}
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
  </body>
</html>